h3 {
    font-style: italic;
}

.select-team {
    margin-top: 20px;
}

.select-category {
    margin-top: 15px;
}

.odi-ranking {
    margin-top: 30px;
}

.test-ranking {
    margin-top: 30px;
}

.t20-ranking {
    margin-top: 30px;
}

Write to Munim Hassan Shafa
